{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Forbidden!!
{% endblock %}
{% block content %}
    <div class="container vh-100  d-flex justify-content-center align-itema-center">
        <div class="content text-center">
            <h1 class="text-black-50" style="font-size: 300px">403</h1>
            <p class="text-danger">
                You are forbidden from accessing this page

            </p>
             <a class="card_link" href="#">Go Home</a>
        </div>
    </div>
{% endblock %}